<strong> Olá {{user_name}}  </strong>
<p>Já conseguimos responder sua pergunta</p>
<p>

  <strong> {{answer_response}} <br>

  <small>
    Se tiver alguma outra pergunta, pode nos chamar!
  </small>
</p>
